<div class="container">
  <div class="col-12 d-flex justify-content-center">
    <h1><strong> My Inventory </strong></h1> <br>
  </div>

  <%# inventory user dropdown %>
  <%= render "inventories_counted_dropdown"%>

  <%# inventory item accordion %>
    <div class="col-12">
      <div class="col-12 border-bottom d-flex justify-content-between" style="padding-inline: 16px; margin-top: 20px; font-weight:bold;">
        <span>Item</span>
        <span>Quantity</span>
      </div>
      <% @inventories.each_with_index do |inventory, index| %>
          <%= render "inventory_accordion", inventory: inventory, index: index %>
        <% end %>
    </div>

  <%# to enable dropdown bootstrap %>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</div>
