<div class="container col-11 my-4 px-0">
  <div class="d-flex justify-content-center">
    <h1><strong> My Inventory </strong></h1> <br>
  </div>

 <%# Top two buttons  %>
  <div class="row my-3">
      <%= link_to sync_inventories_path do %>
        <i class="fa-solid fa-rotate fa-2xl" style="color: #007ea7; padding-left: 16px;"></i>
      <% end %>
      <%# <%= render "inventories_counted_dropdown"%>
  </div>
  <%# inventory item accordion %>
    <div class="col-12">
      <div class="col-12 border-bottom d-flex justify-content-between" style="padding-inline: 16px; margin-top: 20px; padding-bottom: 5px; font-weight:bold;">
        <span>Item</span>
        <span>Quantity</span>
      </div>
      <% @inventories.each_with_index do |inventory, index| %>
          <%= render "inventory_accordion", inventory: inventory, index: index %>
        <% end %>
    </div>

  <%# to enable dropdown bootstrap %>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

</div>
