.table-inventory-row {
  text-align: center;
  border-bottom: 0.5px solid lightgrey;
 }

 .accordion-body-inventory {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 0px 20px;
  font-size: 14px;
}


//  .table-order {
//   width: 100%;
//   height: 200px;
//   border-collapse: collapse;
// }

// .table-order thead {
//   border-bottom: 1px solid lightgrey;
// }

// .table-order tfoot {
//   border-top: 1px solid lightgrey;
// }
