.table-inventory-row {
  text-align: center;
  border-bottom: 0.5px solid lightgrey;
 }

 .accordion-body-inventory {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 0px 20px;
  font-size: 14px;
}

// simple form input format for /inventories

.form-input-small {
  color: black;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 5px 30px;
  font-size: 14px;
  // position: relative;
  border: 2px solid #000;
  align-items: center;
  width: 50%;
  margin-right: 0px;

}

.view-btn-extra-small {
  border-radius: 15px;
  color: black;
  padding: 12px 28px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border: solid #000;
  border-width: 2px 2px;
  font-size: 14px;
  position: relative;
  height: 7px;
  width: 21px;
}
