// CSS for index.html.erb for Orders
// Removes default blue border
.accordion-button:focus {
  box-shadow: inherit;
}
// Sets style when collapsed
.accordion-button:not(.collapsed) {
  color: black;
  background-color: #EFD6AC;
}

.accordion-order-btn {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #5D3A00;
  transition: background 0.3s ease;
  text-decoration: none;
}

.accordion-button:not(.collapsed) .accordion-order-btn {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #5D3A00;
  transition: background 0.3s ease;
  text-decoration: none;
}

.accordion-button:not(.collapsed)::after {
  // filter: brightness(0%) invert(70%);
  filter: brightness(0%);
}

.accordion-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 1rem;
}

.accordion-order-info {
  line-height: 22px;
}

.accordion-body {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 0px 40px;
}

.accordion-body-link {
  align-items: left;

}
.accordion-button {
  // placeholder
}

.accordion-item {
  // placeholder
}


// order form css

.edit-products-list {
  display: flex;
}

.add-products {
    background-color: rgb(186, 186, 186);
    box-shadow: 4px 5px black;
    border-radius: 15px;
    border-width: 5px;
    border: black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    border: solid #000;
    border-width: 2px 2px;

    :active {
      transform: translateY(20px);
    }

  }



  .add-detail {
    :active {
      transform: translateY(2px);
    }

  }

.submit-container {
  display: flex;
  align-items: center;
}

.order-submit {
  margin-left: auto;
  margin-right: auto;
  width: 8em;

}


// .add-products {
//   background-color: black;
//   color: black;

//   :hover {
//     color: black;
//   }
// }

.line-order {
  line-height: 24px;
}
.container-order {
  width: 60%;
}

.table-order {
  width: 100%;
  border-top: grey;
  border-bottom: grey;
}

.table-order-row {
  text-align: center;
 }

//styles for buttons on order page
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

