.card-suppliers {
  display: flex;
  flex-direction: column;
  text-align: center;

  :hover {
    background-color: black;
    color: white;
  }
}

.fa-circle-plus {
  transform: translateY(-50%);
}

.card-supplier {
  border: none;
  border-bottom: solid;
  border-color: rgb(182, 182, 182);
  color: black;
  padding-left: 0;

  padding: 20px;
  // box-shadow: 5px 10px;
}

.fa-circle-plus {
  color: $oxford-blue;
  :hover {
    background-color: white;
    color: black;
  }
}


// click me button:

// .button {
//   padding: 15px 25px;
//   font-size: 24px;
//   text-align: center;
//   cursor: pointer;
//   outline: none;
//   color: #fff;
//   background-color: #04AA6D;
//   border: none;
//   border-radius: 15px;
//   box-shadow: 0 9px #999;
// }

// .button:active {
//   background-color: #3e8e41;
//   box-shadow: 0 5px #666;
//   transform: translateY(4px);
// }
