.card-suppliers {
  display: flex;
  flex-direction: column;
  text-align: center;

  :hover {
    // background-color: black;
    color: white;
    // border-radius: 25px;

    // box-shadow: 10px 10px  black;
    // transform: translateY(-2px);
  }

  :active {
    // background-color: black;
    transform: translateY(2px);
  }

}

.card-suppliers:hover {
  // background-color: grey;
  color: white;

}

.card-supplier {
  border: none;
  border: solid;
  border-radius: 25px;
  box-shadow: 4px 4px  black;
  border-width: 2px;


  // border-color: rgb(182, 182, 182);
  color: black;
  padding-left: 0;
  padding: 20px;
  margin: 10px;

  // box-shadow: 5px 10px;
}

.fa-circle-plus {
  color: black;
}

.fa-circle-plus:hover {
  color: rgb(182, 182, 182);
}

.supplier_details {
  list-style-type: none;
}

.supplier_templates_orders {
  display: flex;
  flex-direction: row;
}

.templates_and_create {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: -20px;
}

.templates_title {
  margin-left: 15px;
}

.create_order_btn {
  margin-left: auto;
  transform: translateY(-35px);
}
