<div class="container">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Suppliers', suppliers_path %>
    <%= link_to 'Templates', templates_path %>
    <%= link_to 'Past Orders', orders_path %>
  </div>

</div>

<div class="menu-and-back">
  <i class="back-btn fa fa-arrow-circle-left" style="font-size:28px" onclick="history.back()"></i>
  <span class="menu-btn" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "220px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
