

<div class="search-box">
  <button class="btn-search s-body"><i class="fas fa-search"></i></button>
  <div class="input-search s-body">
    <%= form_with url: results_path, method: :get, class: "s-body ss-box" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "ss-box",
        placeholder: "Search by supplier, delivery date etc..",
        aria: { label: "Recipient's username", describedby: "button-addon2" } %>
    <% end %>
  </div>
</div>
