
<div class="container">
  <div class="row">
    <div class="col-sm mt-500">
      <% if @order.photo.attached? %>
        <div class="col-12 mt-2 mb-4">
          <%= cl_image_tag @order.photo.key, height: 400, width: 300, crop: :fill, class: "attached-image" %>
        </div>
      <% else %>
        <div class="col-sm">
          <%= simple_form_for(@order) do |f| %>
            <%= f.input :photo, as: :file, error: 'Invoice is mandatory, please upload one', class: "form-control" %>
            <%= f.button :submit, " + Attach Invoice", class: "btn-login btn btn-outline-dark", style: "margin-left: 80px; margin-top: 3px;" %>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
