<div class="nested-fields row ">
  <%= f.hidden_field :_destroy, value: 0 %>
  <div class="col"><%= f.input :product, collection: supplier.products %></div>
  <div class="col"><%= f.input :quantity %></div>
    <small>
      <%= link_to "Remove", '#', data: { action: "order-form#remove_association"}, :style => 'text-decoration: none; color: black' %>
    </small>
  </div>
</div>
<br>
