
<div class="container">
  <div class="row">
   <div class="col-sm mt-500">
    </div>
    <div class="col-sm mt-500">
        <%  if @order.photo.attached?%>
          <div class="row">
            <div class="col-12 mt-2 mb-4">
              <a class="view-btn"><%= cl_image_tag @order.photo.key, height: 300, width: 400, crop: :fill %>  </a>
            </div>
          </div>
        <% end %>

    </div>
    <div class="col-sm">
      <div class="form-inputs">
        <%= simple_form_for(@order) do |f| %>
          <div class="form-inputs">
            <%= f.input :photo, label: 'Photo', as: :file, error: 'Photo is mandatory, please upload one'%>
          </div>
          <div class="form-actions" style = "background:transparent">
            <%= f.button :submit %>
          </div>
        <% end %>
    </div>
  </div>
</div>
