  <div class="col-6">
    <%= simple_form_for @order, url: order_path(@order) do |f| %>
      <%= f.hidden_field :status, :value => "delivered" %>
      <%= f.submit "Mark as Delivered", class: "btn btn-ghost btn-order-mark", data: {turbo_confirm: "All items were delivered for this order?"}%>
    <% end %>
  </div>
