<div class="container col-11 my-4">
  <%= render "order_show" %>

  <%# Bottom button(s) %>
  <% if @order.status != "delivered" %>
    <div class="row">
      <%= render "order_mark_delivered" %>
      <div class="col-6">
        <%= link_to "Contact Supplier", supplier_path(@order.supplier_id), class: "btn btn-ghost btn-order-mark"%>
      </div>
    </div>

  <% else %>
    <div class="row justify-content-center">
      <div class="col-6">
        <%= link_to "Contact Supplier", supplier_path(@order.supplier_id), class: "btn btn-ghost btn-order-mark"%>
      </div>
    </div>

  <% end %>
<%# container div below %>
</div>
