<div class="container my-4">
  <h1>Order Show Page - Work in Progress</h1>
  <ul>
    <li>Created by: <%= User.find(@order.user_id).email %></li>
    <li>Created on: <%= @order.created_at %></li>
  <ul>

</div>
