// btn-action is for "button" styling

.btn-action {
  margin-top: 15px;
  border-radius: 15px;
  font-size: 15px;
  background-color: #007ea7;
  color: white;
  height: 50px;
  width: 180px;
  border: none;
}

.btn-action:hover {
  background-color: transparent !important;
  color: #007ea7 !important;
  text-decoration: none !important;
  border: 1px solid #007ea7;
}

// btn-action-link is for "link_to" styling

.btn-action-link {
  padding-top: 13px;
  margin-top: 15px;
  border-radius: 15px;
  font-size: 15px;
  background-color: #007ea7;
  color: white;
  height: 50px;
  width: 180px;
  border: none;
}

.btn-action-link:hover {
  background-color: transparent !important;
  color: #007ea7 !important;
  text-decoration: none !important;
  border: 1px solid #007ea7;
}
// btn for add more + in new order page

.btn-add-more {
  border-color: #00A8E8;
  margin-top: 20px;
  margin-bottom: -30px;
  border-radius: 50px;
  background-color: #00A8E8;
  color: #f4f4f4 !important;
  height: 30px;
  width: 180px;
  padding-top: 3px;
}
// .btn-add-more:hover {
//   border-color: #00A8E8;
//   background-color: transparent !important;
//   color: #00A8E8 !important;
//   text-decoration: none !important;
//   border: 1px solid #00A8E8;
// }


.btn-ghost {
  color: #292929;
  border: 1px solid #292929;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  border: 1px solid #4A4A4A;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-order-mark {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 4px 12px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-order-mark:hover {
  opacity: 1;
  border: 1px solid #4A4A4A;
}

.btn-inventory-update{
  font-size: 14px;

}
.btn-login {
  margin: 15px;
  border-radius: 50px;
}

.login {
  width: 100%;
}
.signup {
  padding-top: 0.6em;
  font-size: 18px;
}
.btn-login:hover {
  background-color: black !important;
  color: #f4f4f4 !important;
  text-decoration: none !important;
}
.btn-signup {
  border-color: #00A8E8;
  margin: 15px;
  border-radius: 50px;
  background-color: #00A8E8;
  color: #f4f4f4 !important;
}
.btn-signup:hover {
  border-color: #00A8E8;
  background-color: #f4f4f4 !important;
  color: #00A8E8 !important;
  text-decoration: none !important;
}
.btn-logout {
  margin: 15px;
  border-radius: 50px;
  padding: 10px 50px;
  margin: 20px 135px;

}

.btn-logout:hover {
  background-color: black !important;
  color: #f4f4f4 !important;
  text-decoration: none !important;
}
.quick-link-btn:hover {
  border: 1px solid black;
}
