.btn-ghost {
  color: #292929;
  border: 1px solid #292929;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  border: 1px solid #4A4A4A;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-order-mark {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 4px 12px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-order-mark:hover {
  opacity: 1;
  border: 1px solid #4A4A4A;
}
.btn-login {
  margin: 15px;
  border-radius: 50px;
}
.btn-login:hover {
  background-color: black !important;
  color: #f4f4f4 !important;
  text-decoration: none !important;
}
.btn-signup {
  border-color: #00A8E8;
  margin: 15px;
  border-radius: 50px;
  background-color: #00A8E8;
  color: #f4f4f4 !important;
}
.btn-signup:hover {
  border-color: #00A8E8;
  background-color: #f4f4f4 !important;
  color: #00A8E8 !important;
  text-decoration: none !important;
}
.btn-logout {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  background: none;
  border: none;

}

.btn-logout:hover {
  color: #f1f1f1;
}
