.notif-card {
  background-color: rgb(186, 186, 186);
  box-shadow: 2px 3px black;
  border-radius: 10px;
  border-width: 5px;
  border: black;
  color: black;
  padding: 12px;
  text-decoration: none;
  align-items: center;
  border: solid #000;
  border-width: 2px 2px;
  font-size: 16px;
  position: relative;
  margin: 8px;
  overflow: hidden;
  transition: 300ms;
}
.notif-card:hover {
  color: black;
  background-color: rgb(130, 130, 130);

  .btn-tray {
    transform: translateX(0);
  }
}
.notif-card:active {
  box-shadow: none;
}

.btn-tray {
  position: absolute;
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  height:100%;
  background-color: rgba(white, 0.5);
  right:0;
  top:0;
  transform: translateX(100%);
  transition: 300ms;

  a,input[type='submit'] {
    background-color: transparent;
    border:none;
    outline: none;
    font-size: 2rem;
  }
}
