.push-btn {
  background-color: rgb(186, 186, 186);
  box-shadow: 2px 2px black;
  border-radius: 15px;
  border-width: 5px;
  border: black;
  color: black;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  border: solid #000;
  border-width: 2px 2px;
  font-size: 16px;
  position: relative;
  margin: 8px;
}

.push-btn:active{
  box-shadow: none;
  bottom: -2px;
}

.push-btn:hover {
  // color: rgb(214, 214, 214);
}

.push-btn-small {
  background-color: rgb(186, 186, 186);
  box-shadow: 2px 2px black;
  border-radius: 15px;
  border-width: 5px;
  border: black;
  color: black;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  border: solid #000;
  border-width: 2px 2px;
  font-size: 16px;
  position: absolute;
  margin: 8px;
  font-size: 14px;
}

.push_suppliers {
  padding-bottom: 20px;
  padding-top: 20px;

}

.push-btn-extra-small {
  background-color: rgb(186, 186, 186);
  box-shadow: 2px 2px black;
  border-radius: 15px;
  border-width: 5px;
  border: black;
  color: black;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  border: solid #000;
  border-width: 2px 2px;
  font-size: 16px;
  position: absolute;
  margin: 8px;
  font-size: 11px;
  height: 12px;
  width: 20px;
}
