.push-btn {
  background-color: rgb(186, 186, 186);
  box-shadow: 4px 5px black;
  border-radius: 15px;
  border-width: 5px;
  border: black;
  color: black;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  border: solid #000;
  border-width: 2px 2px;
  font-size: 16px;
  position: relative;
  margin: 8px;
}

.push-btn:active{
  bottom: -2px;
}

.push-btn:hover {
  // color: rgb(214, 214, 214);
}
