.search-bar {
  background-color: transparent;
  // display: flex;
  // flex-direction: row;
  border: 2px solid black;
  border-radius: 50px;
  height: $size;
  width: $size;
  position: relative;
  padding: 1px;
  transition: width 300ms ease-in-out;
  margin-top: 0.5%;
  margin-left: auto;

  &__input {
    flex-grow: 1;
    font-size: 1.5rem;
    padding: 0 0.5em;
    border: 0;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    line-height: $size;

    &:focus { // i.e. the focus state of the search line input
      outline: 0;
      background: transparent;
    }
  }

  // &__submit {
  //   cursor: pointer;
  //   border: 0;
  //   background: transparent;
  //   background: transparent;
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   right: 5px;

  //   // border-radius: 50%;
  //   // margin-left: auto;

  // }

  i.fa-search {
    // width: $size - 10px;
    // height: $size - 10px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &:focus-within {
    width: 100%;

    .search-bar__submit {
      // background: black;
      color: white;
    }
  }
}

#query {
  // background: red;
  flex-grow: 1;
  font-size: 1.5rem;
  padding: 0 0.5em;
  border: 0;
  background: transparent;
  color: transparent;
  width: 0;


  &:focus {
    background: transparent;
    color: black;
    width: 90%;
  }

}
