.view-btn {
  border-radius: 15px;
  border-width: 5px;
  border: black;
  color: black;
  padding: 12px 28px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border: solid #000;
  border-width: 2px 2px;
  font-size: 16px;
  position: relative;
  height: 40px;
  width: 120px;
}
