<div class="container">
  <h1><%= @supplier.name %></h1>

  <div>
    <li><%= @supplier.address %> </li>
    <li><%= @supplier.email %> </li>
  </div>

<br>

  <div>
    <%= link_to "All Orders with #{@supplier.name}", supplier_orders_path(@supplier.id), class: "push-btn" %>
  </div>


</div>
